body{
    width: 100%;
}
picture{
    max-width: 90%;
}
img{
    max-width: 90%;
}
li{
    list-style: none;
    text-align: center;
     margin: 0;
    padding: 0;
}
h2{
    text-align: center;
    color: pink;
    text-shadow: 2px 2px green;
}

html{
    background-color: aliceblue;
}

@media screen (max-width: 599px){
    li{
        width: 100%;
    }
}
@media screen (min-width: 600px) and (max-width:1200px){
    li{
        width: 50%;
        float: left;
    }
}
@media screen (min-width: 1200px){
    li{
        width: 25%;
        }
}
